:root {
  --light-gray: #EAEAE9;
  --dark-gray: #171717;
  --light-green: #83C9C7;
  --medium-red: #C98385;
}

body {
  font-size: 1rem;
}

.conf-paragraph {
  font-size: 1.2rem;
}

.form-container {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__element {
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
  display: flex;
  justify-content: flex-end;
}

.form__input--bigger {
  width: 60%;
}

.form__textarea--bigger {
  width: 100%;
  height: 100px;
}

.form__button {
  margin: 1rem auto 0;
  padding: 0.2rem 0;
  font-size: 1rem;
  width: 40%;
  text-align: center;
  border-radius: 0.5rem;
}

.form__button:disabled {
  background-color: var(--light-gray);
}

.form__button:enabled {
  background-color: var(--dark-gray);
  color: var(--light-gray);
}

.error-message {
  text-align: right;
  margin: 0;
}

@media screen and (min-width: 700px) {
  .form {
    width: 70%;
  }
  .form__input--bigger {
    width: 45%;
  }
  .form__button {
    padding: 0.2rem 0;
    width: 25%;
  }
}

@media screen and (min-width: 1000px) {
  .form {
    width: 60%;
  }
}