select {
  min-width: 200px;
}

.grid-container {
  margin-top: 1.5rem;
  display: grid;
  width: 90vw;
}

.item--border {
  border-top: 1px solid var(--dark-gray);
}

@media screen and (min-width: 700px) {
  .content-container-md--center {
    text-align: center;
  }
  .grid-container {
    grid-template-columns: 2fr 2fr 4fr 4fr;
    margin: 1rem auto;
    width: 90%;
  }
  .item--border {
    border-top: none;
    border-left: 1px solid var(--dark-gray);
  }
}

