select {
  min-width: 200px;
}

.grid-container {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 2fr 2fr;
  width: 90vw;
}

.table-head, .cell {
  text-align: center;
}

@media screen and (min-width: 700px) {
  .content-container-md--center {
    text-align: center;
  }
  .grid-container {
    grid-template-columns: 2fr 2fr 4fr 4fr;
    margin: 1rem auto;
    width: 90%;
  }
}

