:root {
  --light-gray: #EAEAE9;
  --dark-gray: #171717;
  --light-green: #83C9C7;
  --medium-red: #C98385;
}

select {
  min-width: 200px;
}

.table {
  width: 100%;
  margin-top: 1rem;
}

th, td {
  text-align: center;
}

td {
  border: 1px solid var(--dark-gray);
}

.content-container--center {
  text-align: center;
}

