:root {
  --light-gray: #EAEAE9;
  --dark-gray: #171717;
  --light-green: #83C9C7;
  --medium-red: #C98385;
}

body {
  font-size: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}

.header {
  width: 100%;
  padding: 0.5rem 0;
  background-color: var(--dark-gray);
  color: var(--light-gray)
}

.header__heading {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: 600;
  word-spacing: 0.2rem;
}

.nav {
  display: flex;
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}

.nav__item {
  align-self: center;
  list-style: none;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 400;
}

.nav__link, .heading__link {
  text-decoration: none;
  cursor: pointer;
  color: var(--light-gray);
}

.nav__link:focus {
  color: var(--light-green)
}

.nav__link:active {
  color: var(--medium-red)
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  background-color: var(--dark-gray);
  color: var(--light-gray);
  width: 100%;
}

.content-container {
  margin: 2rem 1rem;
}

.home-heading {
  font-size: 1.5rem;
  color: var(--dark-gray)
}

.home-paragraph {
  font-size: 1.2rem;
}

@media screen and (min-width: 700px) {
  .content-container {
    width: 80%;
    margin: 2rem auto;
  }
  .header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .header__heading {
    text-align: left;
    font-size: 1rem;
    max-width: 100px;
  }
  .nav__list {
    flex-direction: row;
  }
  .nav__item {
    margin-right: 2rem;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1000px) {
  .content-container {
    width: 60%;
  }
  .nav__item {
    margin-right: 5rem;
  }
}
