:root {
  --light-gray: #EAEAE9;
  --dark-gray: #171717;
  --light-green: #83C9C7;
  --medium-red: #C98385;
}

body {
  font-size: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  width: 100%;
  padding: 0.5rem 0;
  background-color: var(--dark-gray);
  color: var(--light-gray)
}

.header__heading {
  font-size: 1rem;
  line-height: 1.6;
  max-width: 100px;
  text-transform: uppercase;
  font-weight: 600;
}

.nav {
  display: flex;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav__item {
  list-style: none;
  font-size: 1.5rem;
  margin-right: 5rem;
  text-transform: capitalize;
  font-weight: 400;
}

.nav__link {
  text-decoration: none;
  cursor: pointer;
  color: var(--light-gray);
}

.nav__link:focus {
  color: var(--light-green)
}

.nav__link:active {
  color: var(--medium-red)
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  background-color: var(--dark-gray);
  color: var(--light-gray);
  width: 100%;
}

.content-container {
  width: 60%;
  margin: 2rem auto;
}

.home-heading {
  font-size: 1.5rem;
  color: var(--dark-gray)
}

.home-paragraph {
  font-size: 1.2rem;
}
